/* ALL*/
html, body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "Humanbumsuk";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

div {
  box-sizing: border-box;
  font-family: "Humanbumsuk";
}

/* header */
.main_div {
  width: 1449px;
  height: 491px;
  margin: auto;
  position: relative;
  background-image: url("홈화면이미지/메인사진.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  position:fixed;
  top:0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  border-bottom: 1.7px solid rgb(225, 224, 224);
}
