* {
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.6;
}

h1 {
  font-size: 24px;
}

#app {
  max-width: 700px;
  margin: 0 auto;
}

#form-container {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}

.comments {
  margin-top: 10px;
  padding-left: 20px;
}